body {
    background-color: #eee;
    color: #111;
    font-family: Georgia, serif;
    font-size: 14pt;
}
h1 {
    font-size: 170%;
    text-decoration: underline;
    font-weight: normal;
}
p.current-streak {
    font-size: 130%;
    line-height: 120%;
}
p { font-size: 100% }
span#daysSince {
    font-size: 200%;
    font-weight: bold;
    padding-left: 10pt;
}
a, a:hover, a:visited, a:active {
    color: #111;
}
p.previous-streak {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px dashed #aaa;
}
div.stats {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 30em;
}
#visualisation p { line-height: 0 } /* squish the SVG lines */
span.streak  svg { fill: #ccc; }
span.unknown svg { fill: #ccc; }
span.today   svg { fill: rgba(25,170,170,0.7) }
span.low     svg { fill: rgba(170,25,25,0.35) }
span.mid     svg { fill: rgba(170,0,0,0.6) }
span.high    svg { fill: rgba(170,0,0,1) }
div.utla-list {
    padding: 1em;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}
li {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
p.data-source {
    font-size: 70%;
}
p.nav {
    font-size: 90%;
    padding-top: 2em;
}
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #555;
        color: #eee;
    }
    a, a:hover, a:visited, a:active {
        color: #eee;
    }
    span.streak  svg { fill: #666; }
    span.unknown svg { fill: #666; }
    span.today   svg { fill: rgba(25,170,170,0.7) }
    span.low     svg { fill: rgba(200,100,100,0.3) }
    span.mid     svg { fill: rgba(150,50,50,0.5) }
    span.high    svg { fill: rgba(125,25,25,0.7) }
}